* {
  margin: 0;
}

body{
  background-color: rgba(0, 149, 48, 1);
}
  
p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {
      margin: 0;  
      padding: 0;
    }
  
    a {  
      color: inherit;  
      text-decoration: inherit;
    }

.logo {
  top: 25px;
  left: 360px;
  width: 549px;
  height: 141px;
  position: absolute;
}
.box {
  top: 190px;
  left: 20%;
  height: 619px;
  position: absolute;
  border-radius: 25px;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 25px 20px 0 rgba(0, 0, 0, 0.19);
}

.retangulo {
  width: 1187px;
  height: 100px;
  background-color: #C1C1C1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.retangulo-texto {
  top: 10px;
  left: 275px;
  width: 637px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.text {
  font-size: 40px;
  font-family: Inter;
}

.text-2 {
  top: 48px;
  left: 145px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: Inter;
}
.mini-box {
  width: 735px;
  top: 148px;
  left: 226px;
  position: absolute;
}

.texto-box {
  top: 130px;
  position: absolute;
  font-size: 20px;
  font-family: Inter;
}

.jardinagem {
  top: 0px;
  left: 306px;
  position: absolute;
}

.esporte {
  top: 0px;
  left: 153px;
  position: absolute;
}


.culinaria {
  top: 0px;
  left: 459px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}


.moda {
  top: 0px;
  left: 612px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.box-2 {
  top: 207px;
  left: 152px;
  width: 429px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.transporte {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.saude{
  top: 0px;
  left: 306px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.arte{
  top: 0px;
  left: 153px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}




.proximo {
  top: 559px;
  left: 986px;
  width: 118px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.proximo-texto{
  top: 5.000001430511475px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.triangulo-proximo {
  top: 0.0000014861872159599443px;
  left: 118px;
  width: 33px;
  height: 34px;
  position: absolute;
}
.volta {
  top: 558.9999389648438px;
  left: 78px;
  width: 96px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.volta-texto {
  top: 5.000231742858887px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.triangulo-voltar {
  top: -1px;
  left: -8px;
  width: 33px;
  height: 34px;
  position: absolute;
}
