.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-interesses2 {
  width: 100%;
  height: 1000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 149, 48, 1);
}
.page-whats-app-image20230518at5061 {
  top: 44px;
  left: 556px;
  width: 549px;
  height: 121px;
  position: absolute;
}
.page-group1000004143 {
  top: 190px;
  left: 237px;
  width: 1187px;
  height: 619px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group1000004142 {
  top: 0px;
  left: 0px;
  width: 1187px;
  height: 619px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group1000004141 {
  top: 0px;
  left: 0px;
  width: 1187px;
  height: 619px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group1000004129 {
  top: 0px;
  left: 0px;
  width: 1187px;
  height: 619px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.page-rectangle5100 {
  top: 0px;
  left: 0px;
  width: 1187px;
  height: 91px;
  position: absolute;
  border-radius: 21px 21px 0 0;
}
.page-group1000004140 {
  top: 10px;
  left: 275px;
  width: 637px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text02 {
  top: 48px;
  left: 145px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group1000004138 {
  top: 148px;
  left: 226px;
  width: 735px;
  height: 354px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group1000004136 {
  top: 0px;
  left: 0px;
  width: 735px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group1000004131 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text04 {
  top: 123px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle5107 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group1000004133 {
  top: 0px;
  left: 306px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text06 {
  top: 123px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51071 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group1000004132 {
  top: 0px;
  left: 153px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text08 {
  top: 123px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51072 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group1000004134 {
  top: 0px;
  left: 459px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text10 {
  top: 123px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51073 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group1000004135 {
  top: 0px;
  left: 612px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text12 {
  top: 123px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51074 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group1000004137 {
  top: 207px;
  left: 152px;
  width: 429px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group10000041311 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text14 {
  top: 123px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51075 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group10000041331 {
  top: 0px;
  left: 306px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text16 {
  top: 123px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51076 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group10000041321 {
  top: 0px;
  left: 153px;
  width: 123px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text18 {
  top: 123px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle51077 {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 123px;
  position: absolute;
  border-color: rgba(0, 149, 49, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
}
.page-group1000004139 {
  top: 559px;
  left: 986px;
  width: 118px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-container1 {
  top: 0px;
  left: 0px;
  width: 151px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.page-text20 {
  top: 5px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-polygon1 {
  top: 0px;
  right: 0px;
  width: 33px;
  height: 34px;
  position: absolute;
}
.page-group10000041431 {
  top: 558.9999389648438px;
  left: 78px;
  width: 96px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-container2 {
  top: 0px;
  left: -10px;
  width: 105.171875px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.page-text22 {
  top: 5px;
  left: 50px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-polygon11 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 34px;
  position: absolute;
}
