.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-modelo {
  width: 100%;
  height: 3116px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(241, 245, 249, 1);
}
.profile-topbar {
  top: 0px;
  left: 280px;
  width: 1380px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group1000003655 {
  top: 0px;
  left: 0px;
  width: 1380px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.profile-group1000003727 {
  top: 17px;
  left: 35px;
  width: 1315px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000003658 {
  top: 13px;
  left: 0px;
  width: 116px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-search2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.profile-text {
  left: 40px;
  color: var(--dl-color-default-tailgridstextcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000003675 {
  top: 0px;
  left: 1013px;
  width: 302px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000004096 {
  top: 0px;
  left: 136px;
  width: 166px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000003666 {
  top: 0px;
  left: 90px;
  width: 76px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000003672 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse2824 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.profile-chevrondown21 {
  top: 13px;
  left: 56px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.profile-group1000003674 {
  top: 6px;
  left: 0px;
  width: 75px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text02 {
  color: var(--dl-color-default-tailgridsblackcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text04 {
  top: 21px;
  left: 49px;
  color: var(--dl-color-default-tailgridstextcolor);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000004095 {
  top: 6px;
  left: 0px;
  width: 83px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000004098 {
  top: 0px;
  left: 49px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse2837 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 0.5px;
}
.profile-chatalt8 {
  top: 9px;
  left: 8px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group {
  top: 1.5749999284744263px;
  left: 0.5062499642372131px;
  width: 17.015625px;
  height: 14.82187557220459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 15px;
  position: absolute;
}
.profile-vector01 {
  top: 5.709374904632568px;
  left: 4.275000095367432px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.profile-vector02 {
  top: 5.709374904632568px;
  left: 7.8468756675720215px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.profile-vector03 {
  top: 5.709374904632568px;
  left: 11.418750762939453px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.profile-ellipse28241 {
  top: 0px;
  left: 23px;
  width: 10px;
  height: 10px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}
.profile-group1000004097 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse2838 {
  top: 0px;
  left: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 0.5px;
}
.profile-alarm {
  top: 8px;
  left: 8px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.profile-toggle {
  gap: 10px;
  top: 8px;
  left: 929px;
  width: 56px;
  display: flex;
  padding: 3px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 32px;
  background-color: var(--dl-color-default-stroke);
}
.profile-icon {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: var(--dl-color-naturalcolor2-white);
}
.profile-vuesaxboldsun {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-vuesaxboldsun1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-sun {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector04 {
  top: 3.3333330154418945px;
  left: 3.3333330154418945px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.profile-vector05 {
  top: 0.6666667461395264px;
  left: 0.6666667461395264px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.profile-group1000004160 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 2779px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-sidebar {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 2779px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-rectangle4964 {
  top: 0px;
  left: 0px;
  width: 280px;
  height: 2779px;
  position: absolute;
  border-radius: 0 0 50px;
}
.profile-single-menu {
  top: 159.52928161621094px;
  left: 25px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-menu-item {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000004102 {
  top: 314.00006103515625px;
  left: 68px;
  width: 67px;
  height: 51.832374572753906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text06 {
  left: 1.1368683772161603e-13px;
  color: var(--dl-color-default-white);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text08 {
  top: 30.927669525146484px;
  color: rgba(255, 255, 255, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000004161 {
  top: 448px;
  left: 25px;
  width: 230px;
  height: 100.16838836669922px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame1000004089 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 230px;
  display: flex;
  padding: 8px 12px 8px 15px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  justify-content: space-between;
  background-color: rgba(0, 149, 49, 1);
}
.profile-frame1000003557 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.profile-enter {
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group1 {
  top: 0.5062499642372131px;
  left: 2.840625047683716px;
  width: 12.34687614440918px;
  height: 16.98750114440918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector06 {
  top: 0px;
  left: 5.34375px;
  width: 7px;
  height: 17px;
  position: absolute;
}
.profile-vector07 {
  top: 4.985157012939453px;
  left: 0px;
  width: 8px;
  height: 7px;
  position: absolute;
}
.profile-text10 {
  color: var(--dl-color-default-darktextcolor1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-chevrondown1 {
  width: 20px;
  height: 20px;
}
.profile-group10000041021 {
  top: 47.90672302246094px;
  left: 43px;
  width: 103px;
  height: 52.26176834106445px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text12 {
  left: 0.00005555152893066406px;
  color: var(--dl-color-default-white);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text14 {
  top: 31.357044219970703px;
  left: -1.1368683772161603e-13px;
  color: rgba(255, 255, 255, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-menu-item1 {
  gap: 10px;
  top: 217.75732421875px;
  left: 25px;
  width: 230px;
  height: 34.84117889404297px;
  display: flex;
  padding: 8px 15px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(0, 149, 48, 1);
}
.profile-frame1000004084 {
  gap: 10px;
  top: 8px;
  left: 15px;
  width: 200px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.profile-group1000004093 {
  width: 117px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-envelope {
  top: 3px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.profile-text16 {
  left: 28px;
  color: var(--dl-color-default-darktextcolor1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000004092 {
  width: 22px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame1000003537 {
  gap: 10px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 1px 7px;
  position: absolute;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(66, 180, 230, 1);
}
.profile-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-menu-item2 {
  gap: 10px;
  top: 383px;
  left: 25px;
  width: 230px;
  height: 34.84117889404297px;
  display: flex;
  padding: 8px 15px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(0, 149, 48, 1);
}
.profile-frame10000040841 {
  gap: 10px;
  top: 8px;
  left: 15px;
  width: 200px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.profile-group10000040931 {
  width: 90px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-envelope1 {
  top: 3px;
  left: 0px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.profile-text19 {
  left: 28px;
  color: var(--dl-color-default-darktextcolor1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-menu-item3 {
  gap: 10px;
  top: 262.17987060546875px;
  left: 25px;
  width: 230px;
  height: 34.84117889404297px;
  display: flex;
  padding: 8px 15px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(0, 149, 48, 1);
}
.profile-frame10000040842 {
  gap: 85px;
  top: 8px;
  left: 15px;
  width: 200px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
}
.profile-group10000040932 {
  width: 95px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-envelope2 {
  top: 3px;
  left: 0px;
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group2 {
  top: 0.984375px;
  left: 0.4781494140625px;
  width: 17.043750762939453px;
  height: 16.05937385559082px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector08 {
  top: 0px;
  left: 0px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.profile-vector09 {
  top: 1.4343750476837158px;
  left: 6.103124618530273px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.profile-vector10 {
  top: 5.765625px;
  left: -2.9802322387695312e-8px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.profile-vector11 {
  top: 7.22812557220459px;
  left: 6.103124618530273px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.profile-vector12 {
  top: 11.86875057220459px;
  left: -2.9802322387695312e-8px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.profile-vector13 {
  top: 13.30312442779541px;
  left: 6.103124618530273px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.profile-text21 {
  left: 28px;
  color: var(--dl-color-default-darktextcolor1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-chevrondown11 {
  width: 20px;
  height: 21px;
}
.profile-frame1000003558 {
  gap: 10px;
  top: 173px;
  left: 25px;
  width: 230px;
  height: 34.84117889404297px;
  display: flex;
  padding: 8px 12px 8px 15px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  justify-content: space-between;
  background-color: rgba(0, 149, 49, 1);
}
.profile-frame10000035571 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.profile-gridalt {
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group3 {
  top: 0.9562500715255737px;
  left: 0.7874999642372131px;
  width: 16.42500114440918px;
  height: 16.03125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector14 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.profile-vector15 {
  top: -5.9604644775390625e-8px;
  left: 9.36562442779541px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.profile-vector16 {
  top: 8.971874237060547px;
  left: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.profile-vector17 {
  top: 8.971874237060547px;
  left: 9.36562442779541px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.profile-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-menu-item4 {
  gap: 10px;
  top: 128.91236877441406px;
  left: 25px;
  width: 230px;
  height: 34.84117889404297px;
  display: flex;
  padding: 8px 12px 8px 15px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: rgba(0, 124, 40, 1);
}
.profile-useralt4 {
  width: 18px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-group4 {
  top: 0.47812503576278687px;
  left: 1.7156249284744263px;
  width: 14.653124809265137px;
  height: 17.04374885559082px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-vector18 {
  top: -2.9802322387695312e-8px;
  left: 3.515624761581421px;
  width: 8px;
  height: 7px;
  position: absolute;
}
.profile-vector19 {
  top: 8.578125px;
  left: 0px;
  width: 15px;
  height: 8px;
  position: absolute;
}
.profile-text25 {
  color: var(--dl-color-default-darktextcolor1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.profile-whats-app-image20230518at5061 {
  top: 10.452354431152344px;
  left: 14px;
  width: 253px;
  height: 49px;
  position: absolute;
}
.profile-text27 {
  top: 84px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-rectangle5108 {
  top: 2779px;
  left: 0px;
  width: 1660px;
  height: 337px;
  position: absolute;
}
.profile-frame1000004101 {
  top: 80px;
  left: 280px;
  width: 1380px;
  height: 1190px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-breadcrumbs {
  gap: 797px;
  top: 51px;
  left: 43px;
  width: 1290px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.profile-text29 {
  color: var(--dl-color-default-dark);
  height: auto;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-frame1000004090 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.profile-breadcrumb {
  gap: 8px;
  display: flex;
  align-items: center;
}
.profile-text31 {
  color: var(--dl-color-default-textcolor);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-breadcrumb1 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.profile-text33 {
  color: var(--dl-color-default-textcolor);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text34 {
  color: rgba(0, 149, 49, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000004094 {
  top: 228px;
  left: 205px;
  width: 970px;
  height: 742px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.profile-group1000003888 {
  top: 0px;
  left: 0px;
  width: 970px;
  height: 696px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-cover01 {
  top: 0px;
  left: 0px;
  width: 970px;
  height: 260px;
  position: absolute;
  border-radius: 20px 20px 0 0;
}
.profile-frame1000003546 {
  gap: 10px;
  top: 215px;
  left: 868px;
  display: flex;
  padding: 5px 15px;
  position: absolute;
  align-items: flex-start;
  border-radius: 3px;
  flex-direction: column;
  background-color: rgba(0, 149, 49, 1);
}
.profile-frame1000003545 {
  gap: 7px;
  display: flex;
  align-items: center;
}
.profile-camera {
  width: 14px;
  height: 14px;
}
.profile-text36 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000003861 {
  top: 172px;
  left: 397px;
  width: 176px;
  height: 176px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse2835 {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 176px;
  position: absolute;
}
.profile-ellipse2836 {
  top: 8px;
  left: 8px;
  width: 160px;
  height: 160px;
  position: absolute;
  box-sizing: content-box;
}
.profile-group1000003859 {
  top: 124px;
  left: 126px;
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 149, 49, 1);
}
.profile-camera1 {
  top: 10px;
  left: 10px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.profile-group1000003856 {
  top: 363px;
  left: 421px;
  width: 129px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text38 {
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text40 {
  top: 36px;
  left: 47px;
  color: var(--dl-color-default-textcolor);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000003857 {
  top: 636px;
  left: 401px;
  width: 168.66632080078125px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group10000038591 {
  top: 0px;
  left: 0px;
  width: 168.66632080078125px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text42 {
  left: 52px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-social {
  top: 38px;
  left: 0px;
  width: 168.66632080078125px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group6 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-group7 {
  top: 0px;
  left: 36.66615676879883px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame1 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-group8 {
  top: 0px;
  left: 73.33384704589844px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame2 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-group9 {
  top: 0px;
  left: 110px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame3 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-group10 {
  top: 0px;
  left: 146.66615295410156px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame4 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.profile-group1000003887 {
  top: 441px;
  left: 300px;
  width: 371px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.profile-group1000003869 {
  top: 10px;
  left: 15px;
  width: 342px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000003870 {
  top: 0px;
  left: 0px;
  width: 342px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000003886 {
  top: 0px;
  left: 0px;
  width: 342px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-group1000003866 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text44 {
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text46 {
  top: 2px;
  left: 36px;
  color: var(--dl-color-default-textcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000003867 {
  top: 0px;
  left: 109px;
  width: 120px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text48 {
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text50 {
  top: 2px;
  left: 44px;
  color: var(--dl-color-default-textcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-group1000003868 {
  top: 0px;
  left: 252px;
  width: 90px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-text52 {
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text54 {
  top: 2px;
  left: 26px;
  color: var(--dl-color-default-textcolor);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-line619 {
  top: 2px;
  left: 91px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.profile-line620 {
  top: 2px;
  left: 234px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.profile-text56 {
  top: 507px;
  left: 444px;
  color: var(--dl-color-default-dark);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text58 {
  top: 549px;
  left: 128px;
  color: var(--dl-color-default-textcolor);
  width: 714px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
