@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #F1F5F9;
}

.block{
  width: 100%;
  height: 100px;
}

.logo{
    margin-top: -35px;
}

.home-text a{
    text-decoration: none;
    color: #fff;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #009530;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    


.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #036924;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #036924;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 .ativo{
    background-color: #036924;
 }

  .dropdown-content {
    display: none;
    background-color: #036924 ;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #009530;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.header{
    display: flex;
}


  .pesquisar{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
  }

  .noti-btn{
    border-radius: 50%;
    margin: 0px 40px 0px 10px;
    
}

.noti-btn:hover{
    opacity: 0.75;
}

.profile-text{
    margin: 0px 5px 0px 45px;

}

.profile{
    margin: -10px 45px 0px 0px;
}

.profile:hover{
    opacity: 0.75;
}

h1{
    margin-top: 50px;
    margin-left: 50px;
}

h4{
    margin-left: 50px;
    margin-top: 15px;
}

strong{
    color: #009530;
}

.box{
    background-color: #fff;
    margin: auto;
    margin-top: 25px;
    width: 50%;
    height: 700px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px;
}

.mini-box{
    background-color: #036924;
    background-image: url(https://4.bp.blogspot.com/-7_7Xk44sL28/Un0I7-PQ40I/AAAAAAAAiuM/VcAudz39qcE/s1600/Building-arco-pedra-arquitetura-hdr-485x728.jpg);
    margin-top: 0px;
    width: 100%;
    height: 250px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}


.sugestao{
    background-color: #fff;
    margin: auto;
    width: 70%;
    height: 293px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 30px 3px;
    border-radius: 10px;
}

.sugestao-texto{
    
    margin: auto;
    width: 100%;
    height: 50px;
}

.txt-sug{
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

.user-box{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-top: -20px;
    width: 100%;
}


.users{
    text-align: center;
    margin: 15px 35px 0px 40px;
    width: 100%;
}

.txt-nome{
    color: #000;
}

.btn-seguir{
    background-color: #42B4E6;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.btn-seguir:hover{  
    opacity: 0.75;
}


.flex{
  display: flex;
  flex-direction: row;
}

.box-destaque{
height: 350px;
width: 33%;
background-color: #fff;
margin: 20px 35px 10px 35px;
border-radius: 25px;
box-shadow: 10px 10px 10px;

}

.fundo{
 width: 100%;
 height: 150px;
 border-top-right-radius: 25px;
 border-top-left-radius: 25px;
 object-fit: cover;
}

.texto-destaque{
  margin-top: 25px;
}

.texto-destaque a{
  text-align: center;
  color: #000;
  text-decoration: none;
}


.paragrafo-destaque{
  margin: 30px 30px 0px 30px;
}

.box-post{
  margin: auto;
  width: 50%;
  height: 750px;
  background-color: #D9D9D9;
  border-radius: 25px;
  box-shadow: 10px 10px 10px;
}

.barra-post{
  display: flex;
  width: 100%;
  height: 70px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #fff;
}

.barra-post img{
  margin-left: 15px;
}

.titulo-post{
  padding-top: 25px;
  padding-left: 10px;
}

.img-post img{
 width: 100%;
 height: 400px;
 object-fit: cover;
}

.curtir{
  display: flex;
  width: 100%;
  height: 70px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #fff;
  margin-top: -9px;
}

.curtir img{
  margin: 15px 0px 0px 35px;
}

.curtir a{
  display: flex;
  padding-top: 25px;
  padding-left: 15px;
}

.comentario-post{
  margin-left: 50px;
  margin-top: 15px;
}

.comentarios{
 display: flex;
 padding-top: 5px;
}

.cmt1{
  color: #42B4E6;
}

.cmt2{
  color: #e64242;
}

.cmt3{
  color: #1c18f1;
}

.comentar textarea{
  margin-top: 30px;
  margin-left: 50px;
  width: 65%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #f8f8f8;
  font-size: 17px;
  resize: none;
}