*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #009531;
}

a{
  text-decoration: none;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 130px;
  width: 550px;
}

.box{
  margin: auto;
  height: 560px;
  width: 620px;
  background-color: #D9D9D9;
  border-radius: 25px;
  box-shadow: 10px 10px 20px;
}

.btns{
  display: flex;
  width: 500px;
  height: 80px;
}


.btn-log-res{
  width: 310px;
  height: 80px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}

.btn-log-res:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.login button{
  border-top-left-radius: 25px;
  background: #C1C1C1;
}

.registra-se button{
  border-top-right-radius: 25px;
  background-color: #878787;
}

.cadastros{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
}


input, select {
  width: 75%;
  padding: 25px 20px;
  margin: 60px 75px 5px 75px;
  border: 2px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

input[type=submit] {
  width: 50%;
  background-color: #009531;
  color: white;
  padding: 20px 20px;
  margin: 46px 145px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

input[type=submit]:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 630px){
  .box{
    height: 680px;
    width: 480px;
  }

  .btns{
    height: 120px;
  }

  .btn-log-res{
    width: 240px;
  }  

  .logo{
    margin-left: -15px;
  }
}